<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://w7.pngwing.com/pngs/693/541/png-transparent-digital-camera-pink-pink-camera-hand-camera-icon-vintage-camera.png"" width=" 82" height="48">
            </a>


            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>

                    <a class="navbar-item">
                       
                    </a>

                 
                </div>

            </div>
    </nav>
</header>